{% extends "static/sbnciface_base.twig" %}
{% block content %}
    <div class="row padding">
        <div class="col-lg-8 col-lg-push-2">
            <div class="well well-sm">

            </div>
        </div>
    </div>
{% endblock %}