{$header}
                <div class="info">{$lang.admin_adduser_ifPwEmpty}</div>
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
                        <tr>
                            <td width="40%">{$lang.admin_adduser_username}:</td><td width="60%"><input type="text" name="ident" size="33" /></td>
                        </tr>
                        <tr>
                            <td width="40%">{$lang.admin_adduser_password}:</td><td width="60%"><input type="text" name="password" size="33" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="{$lang.admin_adduser_submit}" name="do" /></td>
                        </tr>
                    </table>
                </form>
{$footer}
