{$header}
                <div class="info">{$passwordEmptyText}</div>
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
                        <tr>
                            <td width="40%">{$identText}:</td><td width="60%"><input type="text" name="ident" size="33" /></td>
                        </tr>
                        <tr>
                            <td width="40%">{$passwordText}:</td><td width="60%"><input type="text" name="password" size="33" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="{$submitValue}" name="do" /></td>
                        </tr>
                    </table>
                </form>
{$footer}