{$header}
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
                        <tr><td width="40%">{$lang.user_auth_username}:</td><td width="60%"><input type="text" name="auth" size="33" value="{$authValue}" /></td></tr>
                        <tr><td width="40%">{$lang.user_auth_password}:</td><td width="60%"><input type="password" name="pass" size="33" value="{if $passValue == 1}Kl45sD34R{/if}" /></td></tr>
                        <tr><td width="40%">{$lang.user_auth_auto}:</td><td width="60%"><select name="useAuth" style="width:224px;" >{if $useAuthValue == 1}<option value="1" selected>{$lang.misc_on}</option><option value="0">{$lang.misc_off}</option>{else}<option value="1">{$lang.misc_on}</option><option value="0" selected>{$lang.misc_off}</option>{/if}</select></td></tr>
                        <tr><td colspan="2" align="center"><input type="submit" value="{$lang.misc_save_changes}" name="do" /></td></tr>
                    </table>
                </form>
{$footer}
