{$header}
                {if $sbncNumChannels == 20}
                <div class="warning">
                    {$lang.user_channels_already_20chans}
                </div>
                {else}
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
                        <tr><td colspan="2" align="center"><b>{$lang.user_channels_join_chan}</b></td></tr>
                        <tr><td width="40%">{$lang.user_channels_channel}:</td><td width="60%"><input type="text" name="joinchannel" size="33" /></td></tr>
                        <tr><td colspan="2" align="center"><input type="submit" value="{$lang.user_channels_join}" name="join" /></td></tr>
                    </table>
                </form>
                {/if}
                <br /><br />
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
                        <td width="55%"><b>{$lang.user_channels_channel}</b></td><td><b>{$lang.user_channels_modes}</b></td><td width="1%"><b>{$lang.user_channels_action}</b></td>
                        {foreach $sbncChannels channel}<tr><form action="" method="post"><input type="hidden" name="part" value="{$lang.user_channels_part}" /><input type="hidden" name="channel" value="{$channel.channel}" /><td>{$channel.channel}</td><td>{$channel.chanmodes}</td><td align="center"><input class="input-image" type="image" src="template/sbnciface/img/icons/delete.png"  value="{$lang.user_channels_part}" name="part" /></td></form></tr>
                        {/foreach}
                    </table>
                </form>
{$footer}
