{$header}
                <form action="" method="POST">
                    <table id="tbl" align="center" width="400">
                        <tr>
                            <td width="40%" valign="top">{$lang.admin_globalmsg_message}:</td><td width="60%"><textarea name="message" cols="25" rows="5"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="{$lang.admin_globalmsg_submit}" name="do" /></td>
                        </tr>
                    </table>
                </form>
{$footer}
