<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{$ifaceRoot}template/sbnciface/style.css" rel="stylesheet" type="text/css" />
        <script src="{$ifaceRoot}template/sbnciface/jquery-latest.min.js" type="text/javascript"></script>
        <title>{$ifaceName}</title>
        <script type="text/javascript">
            $.fn.pause = function(duration) {
                $(this).animate({ dummy: 1 }, duration);
                return this;
            };
            $(document).ready(function () {
                $(".success").pause(3000).fadeOut(2000);
            });
            $(document).ready(function () {
                $(".error").pause(3000).fadeOut(2000);
            });
            function pickLanguage(language) {
                document.langselector.lang.value = language;
                document.langselector.submit();
                return false;
            }
        </script>
    </head>
    <body>
        <div id="pagebody">
            <div id="container">
                <div id="langselect">
                    <form action="" method="post" name="langselector">
                        <input type="hidden" name="lang" value="" />
                        {foreach $langArray langSelector}{$langSelector}
                        {/foreach}
                    </form>
                </div>
                <div id="header">
                    <div id="headpic"></div>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="{$ifaceRoot}" >{$lang.nav_status}</a></li>
                        <li>
                            <a href="#">{$lang.nav_user}</a>
                            <ul>
                                <li><a href="?p=settings">{$lang.nav_user_settings}</a></li>
{if !$userLocks.server || !$userLocks.port || !$userLocks.serverpass || !$userLocks.vhost}
                                <li><a href="?p=server">{$lang.nav_user_server}</a></li>
{/if}
                                <li><a href="?p=auth">{$lang.nav_user_authsettings}</a></li>
{if !$userLocks.awaynick || !$userLocks.awaymessage || !$userLocks.usequitasaway}
                                <li><a href="?p=away">{$lang.nav_user_away}</a></li>
{/if}
                                <li><a href="?p=channels">{$lang.nav_user_channels}</a></li>
                                <li><a href="?p=log">{$lang.nav_user_log}</a></li>
                            </ul>
                        </li>
{if $sbncAdmin == 1}
                        <li>
                            <a href="#">{$lang.nav_admin}</a>
                            <ul>
                                <li><a href="?p=users">{$lang.nav_admin_users}</a></li>
                                <li><a href="?p=add">{$lang.nav_admin_adduser}</a></li>
                                <li><a href="?p=ipsettings">{$lang.nav_admin_trustedips}</a></li>
{if $ifaceCmds.addvhost && $ifaceCmds.delvhost}
                                <li><a href="?p=vhosts">{$lang.nav_admin_vhosts}</a></li>
{/if}
                                <li><a href="?p=global">{$lang.nav_admin_globalmsg}</a></li>
                                <li><a href="?p=mainlog">{$lang.nav_admin_mainlog}</a></li>
                            </ul>
                        </li>{/if}
                        <li><a href="?logout">{$lang.nav_logout}</a></li>
                    </ul>
                </div>
            <div id="content">
                {if $updateStatus != "OK"}
                <div class="warning">
                    {$updateStatus}
                </div>
                {/if}
                {if $errorSet == 1}
                <div class="{$errorType}">
                    {$errorMessage}
                </div>
                {/if}
