{$header}
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
{if !$userLocks.realname}
                        <tr><td width="40%">{$lang.user_settings_realname}:</td><td width="60%"><input type="text" name="realname" size="33" value="{$realnameValue}" /></td></tr>
{/if}
                        <tr><td width="40%">{$lang.user_settings_nickname}:</td><td width="60%"><input type="text" name="nickname" size="33" value="{$nicknameValue}" /></td></tr>
{if !$userLocks.password}
                        <tr><td width="40%">{$lang.user_settings_password}:</td><td width="60%"><input type="password" name="password" size="33" value="{$passwordValue}" /></td></tr>
{/if}
                        {if $sbncAdmin == 1}<tr><td width="40%">{$lang.user_settings_sysnotices}:</td><td width="60%"><select style="width:225px;" name="sysnotices">{if $sysnoticesValue == 1}<option value="1" selected>{$lang.misc_on}</option><option value="0">{$lang.misc_off}</option>{else}<option value="1">{$lang.misc_on}</option><option value="0" selected>{$lang.misc_off}</option>{/if}</select></td></tr>{/if}
                        <tr><td colspan="2" align="center" ><input type="submit" value="{$lang.misc_save_changes}" name="do" /></td></tr>
                    </table>
                </form>
{$footer}
