{$header}
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
                        {if $uptimeValue == 0}
                        <tr><td width="40%">{$lang.status_uptime}</td><td width="60%" id="uptime">{$lang.status_disconnected}</td></tr>
                        {else}
                        <tr><td width="40%">{$lang.status_uptime}</td><td width="60%" id="uptime"></td></tr>
                        {/if}
                        <tr><td width="40%">{$lang.status_nickname}</td><td width="60%">{$nicknameValue}</td></tr>
                        <tr><td width="40%">{$lang.status_awaynick}</td><td width="60%">{$awaynickValue}</td></tr>
                        <tr><td width="40%">{$lang.status_awaymessage}</td><td width="60%">{$awaymessageValue}</td></tr>
                        <tr><td width="40%">{$lang.status_realname}</td><td width="60%">{$realnameValue}</td></tr>
                        <tr><td width="40%">{$lang.status_server}</td><td width="60%">{$serverValue}</td></tr>
                        <tr><td width="40%">{$lang.status_traffic}</td><td width="60%">{$trafficValue}</td></tr>
                    </table>
                </form>
{if $uptimeValue > 0}
                <script type="text/javascript">
                    var UptimeTicks = {$uptimeValue};
                    function UptimeRefresh ()
                    {
                        var days = Math.floor(UptimeTicks /60/60/24);
                        var hours = Math.floor((UptimeTicks - days*60*60*24)/60/60);
                        var minutes = Math.floor((UptimeTicks - days*60*60*24 - hours*60*60)/60);
                        var seconds = (UptimeTicks - days*60*60*24 - hours*60*60 - minutes*60);
                        document.getElementById('uptime').innerHTML = days + ' {$lang.misc_days} ' + hours + ' {$lang.misc_hours} ' + minutes + ' {$lang.misc_minutes} ' + seconds + ' {$lang.misc_seconds}';
                        UptimeTicks++;
                    }
                    UptimeRefresh();
                    setInterval("UptimeRefresh()", 1000);
                </script>
{/if}
{$footer}
