{$header}
                <form action="" method="post">
                    <table id="tbl" align="center" width="400">
                        {if $uptimeValue == 0}
                        <tr><td width="40%">{$uptimeText}</td><td width="60%" id="uptime">{$disconnectedText}</td></tr>
                        {else}
                        <tr><td width="40%">{$uptimeText}</td><td width="60%" id="uptime"></td></tr>
                        {/if}
                        <tr><td width="40%">{$nicknameText}</td><td width="60%">{$nicknameValue}</td></tr>
                        <tr><td width="40%">{$awaynickText}</td><td width="60%">{$awaynickValue}</td></tr>
                        <tr><td width="40%">{$awaymessageText}</td><td width="60%">{$awaymessageValue}</td></tr>
                        <tr><td width="40%">{$realnameText}</td><td width="60%">{$realnameValue}</td></tr>
                        <tr><td width="40%">{$serverText}</td><td width="60%">{$serverValue}</td></tr>
                        <tr><td width="40%">{$trafficText}</td><td width="60%">{$trafficValue}</td></tr>
                    </table>
                </form>
                <script type="text/javascript">
                    {if $uptimeValue == 0}
                    {else}
                    var UptimeTicks = {$uptimeValue};
                    {/if}
                    function UptimeRefresh ()
                    {
                        var days = Math.floor(UptimeTicks /60/60/24);
                        var hours = Math.floor((UptimeTicks - days*60*60*24)/60/60);
                        var minutes = Math.floor((UptimeTicks - days*60*60*24 - hours*60*60)/60);
                        var seconds = (UptimeTicks - days*60*60*24 - hours*60*60 - minutes*60);
                        document.getElementById('uptime').innerHTML = days + ' days ' + hours + ' hours ' + minutes + ' minutes ' + seconds + ' seconds';
                        UptimeTicks++;
                    }
                    UptimeRefresh();
                    setInterval("UptimeRefresh()", 1000);
                </script>
{$footer}