{$header}
                <table id="tbl" align="center" width="400">
                    <form action="" method="post">
                        <tr><td width="40%">{$lang.admin_vhosts_ip}</td><td width="40%"><input type="text" name="ip" size="33"/></td></tr>
                        <tr><td>{$lang.admin_vhosts_userlimit}</td><td><input type="text" name="limit" size="33"/></td></tr>
                        <tr><td>{$lang.admin_vhosts_host}</td><td><input type="text" name="host" size="33"/></td></tr>
                        <tr><td colspan="2" style="text-align:center;"><input type="hidden" name="addvhost" value="Add vHost"><input class="input-image" type="image" name="addvhost" value="Add vHost" src="template/sbnciface/img/icons/add.png"  /></td>
                    </form>
                </table><br /><br />
                <table id="tbl" align="center" width="400">
                    <tr><td width=""><b>{$lang.admin_vhosts_ip}</b></td><td width=""><b>{$lang.admin_vhosts_users}</b></td><td width=""><b>{$lang.admin_vhosts_host}</b></td><td width="10%"><b>{$lang.admin_vhosts_action}</b></td></tr>
                    {foreach $vhostValue vhost}<form action="" method="post"><tr><td>{$vhost.0}</td><td>{$vhost.1}/{$vhost.2}</td><td>{$vhost.3}</td><td><input type="hidden" name="delvhost" value="{$vhost.0}"><input class="input-image" type="image" name="delvhost" value="{$vhost.0}" src="template/sbnciface/img/icons/delete.png" /></td></tr></form>
                    {/foreach}
                </table>
{$footer}
