                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="authors">
			sbnciface &copy; 2013
		</div>
		<!-- JavaScript -->
		<script type="text/javascript" src="{{ sbncroot }}/assets/js/jquery.js"></script>
		<script type="text/javascript" src="{{ sbncroot }}/assets/js/bootstrap.min.js"></script>
    </body>
</html>
