{% extends "sbnciface/static/sbnciface.base.twig" %}
{% block content %}
    <div class="row padding">
        <div class="col-lg-12">
            <div class="alert alert-{{ alert.type }}">
                {{ alert.message|raw }}
            </div>
        </div>
    </div>
{% endblock %}